export http_proxy=http://myproxy.com
export https_proxy=http://myproxy.com
export no_proxy=localhost,127.0.0.0/8,message-broker,database,identity,image,compute-controller,compute,dashboard,block-storage-controller,block-storage,all-in-one
